body {
    background-color: white;
    /*Просто так*/
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/*Общие классы*/

* {
    box-sizing: border-box;
    outline: none;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 20px;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.btn {
    display: block;
    width: 160px;
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 4px;
    background-color: #f0c52e;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.btn-menu {
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    line-height: 20px;
}
.btn-user {
    font-family: 'opensans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: black;
}
.head-title {
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 47px;
    color: black;
}
.text {
    font-family: 'opensans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}
/*.icon {
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    display: block;
}*/

/*Конец общих классов*/

.header-container {
    padding-top: 40px;
}
.page-header {
    width: 1160px;
    background-color: #f7e296;
    position: relative;
    padding: 30px 60px 140px 60px;
}
.page-header .logo {
    position: absolute;
    text-decoration: none;
    color: black;
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 48px;
    top: -25px;
}

.page-header-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-header form {
    display: flex;
    align-items: flex-start;
    width: 520px;
    margin-top: 10px;
}

.page-header .search {
    background-color: transparent;
    border: none;
    position: relative;
}
.page-header .search::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    height: 2px;
    width: 100%;
}
.page-header .btn-search {
    display: none;
    background-color: transparent;
    border: 2px solid black;
    padding: 15px 20px;
}

.open-menu {
    display: block;
    position: relative;
    order: 1;
    width: 520px;
}
.catalog-menu {
    display: none;
    position: absolute;
}

.user-menu {
    order: 0;
    width: 520px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
}

/*.user-menu .btn-login::before {
    width: 13px;
    height: 12px;
    background-position: -512px -10px;
}*/

.user-menu .btn-user {
    padding-left: 25px;
    margin-right: 40px;
}
.user-menu .btn-user:last-child {
    margin-right: 0;
}
.user-menu .btn-login {
    display: block;
    margin-right: 200px;
}

.main-menu {
    order: 2;
    width: 520px;
    list-style: none;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.main-menu .btn-contacts {
    display: flex;
    margin-left: 94px;

}
.main-menu li {
    margin-right: 40px;
}
.main-menu li:last-child {
    margin-right: 0;
}

/*Конец header, Начало промо слайдера*/

.slider-promo {
    position: relative;
    top: -140px;
}
.slider-item {
    padding-left: 60px;
}
.slider-item img {
    float: left;
    margin-top: 53px;
}
.slider-item .product-description {
    float: right;
    position: relative;
    width: 580px;
    padding-top: 108px;
}
.product-description .slider-number {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 60px;
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 179.2px;
    color: white;
}
.product-description .btn-slider-info {
    width: 220px;
    line-height: 8px;
}
.product-description h2 {
    position: relative;
    z-index: 2;
    margin: 0;
}
.product-description p {
    margin-top: 25px;
    margin-bottom: 54px;
}
.product-description .btn {
    margin-bottom: 65px;
}
.product-parameters {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.product-parameters .product-parameter {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
.product-parameter .parameter-value {
    margin-bottom: 14px;
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: black;
}
.product-parameter .parameter-title {
    font-family: 'opensans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: black;
}
.slider-pagination {
    position: absolute;
    top: 330px;
    right: 84px;
}

.slider-pagination .dots {
    float: left;
    width: 10px;
    height: 10px;
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 23px;
    opacity: 0.3;
}
.slider-pagination .dots:active {
    opacity: 1;
}
.slider-pagination .dots:last-child {
    margin-right: 0;
}

/*Начало популярных товаров*/

.page-popular {
    padding-top: 50px;
    padding-bottom: 181px;
}

.popular-item {
    float: left;
    width: 160px;
    margin-right: 40px;
    position: relative;
}

.popular-item:last-child {
    margin-right: 0;
}

.popular-item img {
    background-color: rgba(240, 197, 46, 0.5);
}

.popular-item a {
    text-decoration: none;
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: black;
}
.popular-item a:hover img {
    background-color: rgba(240, 197, 46, 1);
}

.popular-item h3 {
    margin: 0;
    margin-top: 33px;
}

/*Начало сервиса*/

.page-services {
    background-color: #e5e5e5;
}

.page-services ul {
    position: relative;
    top: -100px;
    float: left;
    width: 300px;
    list-style: none;
    padding: 80px 0;
    margin: 0;
    border-right: 7px solid black;
}

.page-services li {
    margin-bottom: 57px;
    padding: 16px 0;
    line-height: 8px;
}
.page-services li:last-child {
    margin-bottom: 0;
}
.page-services li:hover {
    padding: 0;
    line-height: 40px;
}
.page-services li:active {
    background-color: black;
}

.page-services .active {
    background-color: black;
}
.page-services .active a {
    background-color: transparent;
    color: #f7e184;
}

.page-services .btn:active {
    background-color: transparent;
    color: #f7e184;
}

.page-services .slider-services {
    position: relative;
    top: -27px;
    float: right;
    width: 760px;
}

.page-services .slide {
    position: relative;
}

.page-services .slide h2 {
    margin: 0;
}

.page-services .slide p {
    width: 460px;
    float: left;
}

.page-services .slide img {
    position: absolute;
    top: 0;
    right: 0;
}

/*Начало брендов*/

.brands {
    padding-top: 95px;
    padding-bottom: 95px;
}

/*Начало блока "О нас" и "Контакты"*/
.contact-about {
    padding-bottom: 95px;
}
.contact-about p {
    margin-bottom: 19px;
    padding-right: 120px;
}
.about {
    float: left;
    width: 600px;
}
.about .about-list {
    margin-top: 80px;
    margin-bottom: 80px;
    line-height: 40px;
    list-style: none;
    padding: 0;
}
.about-list .item {
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 16px;
}
.about-list .item::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border: 3px solid black;
    border-radius: 50%;
    opacity: 0.3;
    margin-right: 25px;
}
.contact {
    float: right;
    width: 560px;
}
.contact .btn {
    margin-top: 80px;
}
.btn-about,
.btn-contact {
    width: 260px;
    line-height: 8px;
}

/*Начало футера*/
.page-footer {
    background-color: #464646;
    padding-top: 65px;
    padding-bottom: 65px;
}
.page-footer .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*.page-footer .container::after {
    content: '';
    width: 80px;
    height: 7px;
    background-color: #f7e184;
    position: absolute;
    bottom: 0;
    left: 0;
}*/
.page-footer .logo {
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #f7e184;
    text-transform: uppercase;
    text-decoration: none;
}
.page-footer .footer-user-menu {
    width: 980px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.page-footer .footer-user-menu li {
    margin-right: 40px;
}
.page-footer .footer-user-menu li:last-child {
    margin-right: 0;
}
.page-footer .footer-user-menu a {
    color: white;
    text-decoration: none;
    position: relative;
    padding-left: 30px;
}

/*.page-footer .footer-user-menu .btn-user::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 12px;
    background-position: -545px -10px;
}*/

.page-footer address {
    width: 205px;
    font-family: 'opensans', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    flex-shrink: 15px;
    margin-top: 35px;
    font-style: normal;
    color: white;
}
.page-footer .footer-menu {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 750px;
    margin-top: 35px;
}
.page-footer .footer-menu li {
    margin-right: 40px;
}
.page-footer .footer-menu li:last-child {
    margin-right: 0;
}
.page-footer .footer-menu a {
    color: white;
}
.page-footer .phone {
    display: flex;
    justify-content: flex-end;
    width: 205px;
    margin-top: 35px;
    margin-bottom: 0;
    font-family: 'opensans', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: white;
}
.page-footer .socials {
    display: flex;
    justify-content: space-between;
    min-width: 148px;
    height: 100%;
    margin-top: 63px;
}
.page-footer .socials .icon {
    opacity: 0.3;
}
.page-footer .socials .icon:hover {
    opacity: 1;
}
.page-footer .facebook {
    width: 39px;
    height: 38px;
    background-position: -191px -5px;
}
.page-footer .instagram {
    width: 39px;
    height: 38px;
    background-position: -240px -5px;
}
.page-footer .twitter {
    width: 38px;
    height: 38px;
    background-position: -459px -5px;
}
.page-footer .logo-htmlacademy {
    margin-top: 63px;

}


/*Начало страницы catalog.html*/
/*Начало хлебной крошки*/

.breadcrumbs {
    padding-left: 60px;
    padding-top: 45px;
}
.breadcrumbs h2 {
    margin: 0;
    font-size: 47px;
}
.breadcrumbs ul {
    padding: 28px 0 50px 0;
    margin: 0;
    list-style: none;
}
.breadcrumbs li {
    float: left;
    margin-right: 40px;
}
.breadcrumbs li:last-child {
    margin-right: 0;
}
.breadcrumbs a {
    font-family: 'opensans', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}

/*Начало каталога*/

/**сетка**/

.page-catalog  {
    display: flex;
}
.filter-product {
    flex-grow: 1;
    background-color: #ebebeb;
}
.sorting {
    flex-grow: 1;
    background-color: #ebebeb;
}
.content-left {
    margin-left: auto;
}
.content-right {
    margin-right: auto;
}
.filter-product .wrapper-2 {
    background-color: #ebebeb;
}
.filter-product .wrapper-1 .content {
    width: 328px;
    padding-left: 60px;
}
.filter-product .wrapper-2 .content {
    width: 328px;
    padding-top: 69px;
    padding-left: 60px;
    padding-right: 68px;
}

/***фильтр***/

.filter-product .wrapper-1 {
    background-color: #dcdcdc;
}

.filter-product .wrapper-1 h3 {
    display: inline-block;
    margin: 0;
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 70px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.filter-product .wrapper-2 h2 {
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    margin: 12px 0;
}

.filter-product .wrapper-2 .btn {
    width: 200px;
    line-height: 8px;
    border: none;
}

.filter-product .wrapper-2 .value,
.filter-product .wrapper-2 .color,
.filter-product .wrapper-2 .bluetooth {
    border-top: 2px solid black;
    margin-bottom: 37px;
}

.filter-product .wrapper-2 label {
    font-family: 'opensans', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 268px;
    display: block;
}
.filter-product .wrapper-2 input {
    margin: 8px 0;
}

/***сортировка***/
.sorting .wrapper-1 {
    background-color: #ebebeb;
}
.sorting .wrapper-1 .content {
    width: 832px;
    padding-left: 72px;
}
.sorting .wrapper-1 .content {
    display: flex;
    justify-content: space-between;
}
.sorting .wrapper-1 h3 {
    margin: 0;
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 70px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sorting .wrapper-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.sorting .wrapper-1 li {
    line-height: 70px;
    margin-right: 30px;
}
.sorting .wrapper-1 li:last-child {
    margin-right: 0;
}

.sorting .list-sorting-type a {
    font-family: 'opensans', 'Arial', sans-serif;
    font-size: 14px;
}
.sorting .wrapper-1 a {
    text-decoration: none;
    color: black;
}

/***товары***/

.sorting .wrapper-2 .content {
    width: 832px;
    padding-left: 72px;
}
.sorting .wrapper-2 {
    background-color: #fff;
}
.sorting .wrapper-2 .content {
    padding-bottom: 73px;
}
.products {
    padding-top: 70px;
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-item {
    width: 360px;
    padding-bottom: 71px;
}

.product-item h1 {
    display: block;
    width: 200px;
    margin-right: 0;
    margin-top: 34px;
    margin-bottom: 76px;
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
}
.product-item a {
    text-decoration: none;
    color: black;
}
.product-item span {
    margin-top: 40px;
    margin-bottom: 76px;
    font-family: 'opensans', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
}

.catalog-pagination{
    display: flex;
    justify-content: center;;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}
.catalog-pagination li {
    padding: 30px;
}
.catalog-pagination a {
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    opacity: 0.3;
}
.catalog-pagination a:active {
    opacity: 1;
}
.catalog-pagination .prev,
.catalog-pagination .next {
    opacity: 1;
}
.catalog-pagination .prev {
    justify-content: flex-start;
}
.catalog-pagination .next {
    justify-content: flex-end;
}

/******Модальные окна******/
.modal-write-us {
    display: none;
    position: fixed;
    z-index: 10;
    top: 120px;
    left: 50%;
    width: 960px;
    margin-left: -480px;
    padding: 80px 100px 96px 100px;
    background-color: white;
}
@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.modal-show {
    display: block;
    animation: zoomInDown 0.5s;
}
.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 54px;
    height: 54px;
    background-color: #f7e296;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.modal-close::before,
.modal-close::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 26px;
    background-color: white;
    width: 2px;
    height: 32px;
}
.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
.modal-write-us .form-write-us {
    width: 760px;
}
.form-write-us .form-name,
.form-write-us .form-email {
    width: 360px;
    margin-bottom: 20px;
}
.form-write-us .form-name,
.form-write-us .form-text {
    float: left;
}
.form-write-us .form-email {
    float: right;
}
.form-write-us label {
    font-family: 'gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    display: block;
    margin: 13px 0 8px 0;
}
.form-write-us input {
    width: 100%;
    height: 50px;
}
/*.form-write-us input::placeholder {
    color: rgba(70, 70, 70, 0.4);
}*/
.form-write-us textarea {
    margin-bottom: 55px;
    width: 760px;
    min-height: 156px;
    resize: none;
}
.form-write-us input,
.form-write-us textarea {
    background-color: #f2f2f2;
    border: none;
    padding: 17px 19px;
    font-family: 'opensans', 'Arial', sans-serif;
    font-weight: 300;
}
.form-write-us .btn {
    width: 200px;
    line-height: 8px;
    border: none;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.form-error {
    animation: shake 0.6s;
}
.form-write-us .input-error {
    background-color: #edb5b5;
}
.form-write-us .input-value {
    border: 3px solid #e5e5e5;
    background-color: white;
}

/***Модал Мар***/
.modal-map {
    display: none;
    position: fixed;
    z-index: 10;
    top: 120px;
    left: 50%;
    width: 960px;
    height: 560px;
    margin-left: -480px;
}
.modal-map-open {
    display: block;
}
